
p, li, .title {
  font-family: "Raleway";
}

h2 {
  color: midnightblue;
}

h3, h4 {
  color: darkorange;
}

.index-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
} 

.sidebar {
    width: 90%;
}



@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}