.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-bar {
  width: 100%;
  background: black;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}
.head-logo {
  font-family: "Raleway";
  font-size: 1.75rem;
  overflow: hidden;
  border-right: 0.09em solid orange;
  padding-right: 0.2em;
  white-space: nowrap;
  margin: 0 auto;
  animation: blink-caret 1s step-end infinite;
  height: 1.75rem;
  /* @media screen only and (min-width: 1024px) {
    animation: typing 1.35s steps(33, end), blink-caret 1s step-end infinite; */
  /* } */
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25%;
  }
} */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.head-logo:before {
  content: "~/";
  color: orange;
  font-size: 1.75rem;
  font-family: "Arial Narrow";
}
.head-logo:after {
  content: ":";
  color: orange;
  font-size: 1.75rem;
  font-family: "Arial Narrow";
}

small {
  font-family: "Raleway";
}

.mobile-bio-main {
  background: white;
  display: none;
}

@media only screen and (max-width: 850px) {
  .bottom-bar {
    display: flex;
  }
  .social-links {
    display: none;
  }
  .mobile-pages-main {
    display: block;
  }
  .mobile-bio-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
